{% extends "base.html" %}
{% block content %}
  <div>
    <div class="d-flex justify-content-between">
      <h1>Personas</h1>              
      <div class="text-right">
        <a class="btn btn-primary" href="/create">Crear nueva persona</a>
      </div>
    </div>
  </div>
  <table class="table mt-3">
    <thead>
      <tr>
        <th>Nombres</th>
        <th>Apellido Paterno</th>
        <th>Apellido Materno</th>
        <th>Fecha de Nacimiento</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for person in people %}
      <tr>
        <td>{{person.name}}</td>
        <td>{{person.last_name}}</td>
        <td>{{person.mother_last_name}}</td>
        <td>{{person.date_of_birth}}</td>
        <td>
          <a href="/edit/{{person.id}}" class="btn btn-info">Editar</a>
          <a href="/delete/{{person.id}}" class="btn btn-danger">Eliminar</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
